# Heart Disease Prediction

In [1]:
!pip3 install scikit-learn==1.1.1

Requirement already satisfied: scikit-learn==1.1.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (1.1.1)
Requirement already satisfied: scipy>=1.3.2 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from scikit-learn==1.1.1) (1.8.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from scikit-learn==1.1.1) (3.1.0)
Requirement already satisfied: joblib>=1.0.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from scikit-learn==1.1.1) (1.1.0)
Requirement already satisfied: numpy>=1.17.3 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from scikit-learn==1.1.1) (1.22.4)
WARNING: You are using pip version 22.0.4; however, version 22.2.2 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.10/bin/python3.10 -m pip install --upgrade pip' command.

In [2]:
# importing packages
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import warnings
warnings.filterwarnings("ignore")

In [8]:
# Loading the dataset
heart_data = pd.read_csv('heart_disease_data.csv', encoding= 'unicode_escape')

In [9]:
# First five rows
heart_data.head()

,ï»¿age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [10]:
# Last five rows
heart_data.tail()

,ï»¿age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [11]:
# Rows and columns
heart_data.shape

(303, 14)

In [12]:
# Information
heart_data.describe()

,ï»¿age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [13]:
# Checking for null columns
heart_data.isnull().sum()

ï»¿age      0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

We have no null values

In [14]:
heart_data['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

The dataset is fairly balanced, no processing is required
<p>0 --> No Diesase</p>
<p>1 --> Disease</p>

In [15]:
# splitting the data into target and features
X = heart_data.drop(columns='target', axis=1)
Y = heart_data['target']

In [16]:
X

,ï»¿age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [17]:
Y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [18]:
# splitting data in training and test data
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

Stratify is used to split the data fairly i.e, the no. of 1s and 0s in test and training data is fairly distributed.

In [19]:
print(X_train.shape, X_test.shape)

(242, 13) (61, 13)

## Model Training

In [20]:
# Logistic Regression
model = LogisticRegression()

In [21]:
# Trainig the Logistic Regression Model
model.fit(X_train, Y_train)

LogisticRegression()

In [22]:
# Model Evaluation for `Training Data`
X_train_prediction = model.predict(X_train)

In [23]:
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [24]:
# Model Evaluation for `Test Data`
X_test_prediction = model.predict(X_test)

In [25]:
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [26]:
print(f"Accuracy on Training Data is {training_data_accuracy}")
print(f"Accuracy on Test Data is {test_data_accuracy}")

Accuracy on Training Data is 0.8512396694214877
Accuracy on Test Data is 0.819672131147541

#### Building a Predictive System

In [27]:
input = (62,0,0,140,268,0,0,160,0,3.6,0,2,2)

# converting into numpy array as it is easier to deal with
numpy_input = np.asarray(input)

# Reshaping the array
processed_input = numpy_input.reshape(1,-1)

# making a prediction
result = model.predict(processed_input)

if result[0] == 0:
  print("The person does not have a heart disease :)")
elif result[0] == 1:  
  print("The person has a Heart Diesease :(")

The person does not have a heart disease :)

In [28]:
# from sklearn import svm

In [29]:
# svc_model = svm.SVC(kernel='linear')

In [30]:
# svc_model.fit(X_train, Y_train)

In [31]:
# svc_prediction_train = svc_model.predict(X_train)

In [32]:
# svc_prediction_test = svc_model.predict(X_test)

In [33]:
# train_accuracy = accuracy_score(svc_prediction_train, Y_train)
# test_accuracy = accuracy_score(svc_prediction_test, Y_test) 
# print(train_accuracy)
# print(test_accuracy)

## Saving the Model

In [34]:
import pickle

In [35]:
filename = 'heart_model.sav'
pickle.dump(model, open(filename, 'wb'))

In [36]:
loaded_model2 = pickle.load(open('heart_model.sav', 'rb'))